<form method="post" action="/spaces/filter">

<label for="first_night">first night</label>
<input type="date" name="first_night">
<label for="last_night">last night</label>
<input type="date" name="last_night">
<input type="submit" name="submit" value="submit">
</form>

Properties available from <%= @first_night %> to <%= @last_night %> 


<ul id="spaces">
  <% if @spaces %>
    <% @spaces.each do |space| %>
      <li><a href='/spaces/<%=space.id%>'><%= space.name %> <%=space.description %></a>
         </li>
         <% end %>
  <% end %>
</ul>
