<div>
<h2>Requests I've received</h2>
<ul id='requests' class="listing">

<%if @pendingrequests %>
  <% @pendingrequests.each do |singlerequest| %>
  <% singlerequest.each do |request| %>

    <li>	<%= request.id %>
          <%= request.check_in_date %>
        	<%= request.check_out_date%>
          <%  space = Space.get(request.space_id) %>
          <%= space.name %>
          <%  hirer = User.get(request.user_id) %>
          <%=  hirer.name %> <br>



          <form action='/bookings' method='post'>
            <input type='hidden' name="answer" value="confirmed">
            <input type='hidden' name='requestid' value='<%= request.id%>'>
            <input type='submit' name='submit' value="Accept">
          </form>

            <form action='/bookings' method='post'>
            <input type="hidden" name="answer" value="denied">
            <input type='hidden' name='requestid' value='<%= request.id%>'>
            <input type='submit' name='submit' value="Deny">
          </form>

    </li>
    <% end %>
  <% end %>
  <% end%>
</ul>
</div>

<div>
<h2>Requests I've made</h2>
<ul id='requests_made' class="listing" >

<%if @requests %>
  <% @pendingrequests.each do |singlerequest| %>
  <% singlerequest.each do |request| %>

    <li>  <%= request.id %>
          <%= request.check_in_date %>
          <%= request.check_out_date%>
          <%  space = Space.get(request.space_id) %>
          <%= space.name %>
          <%  hirer = User.get(request.user_id) %>
          <%=  hirer.name %> <br>

    </li>
    <% end %>
  <% end %>
  <% end%>
</ul>
</div>

